* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F9FAFB;
    --secondry-color: #94A3B8;
    --card:#111827;
    --mode:#0B0F19;
    --accent: #6366F1;
    --hover:#4F46E5;
    --hover2:#818CF8;
    --border:#1E293B;
    --shadow:rgba(0,0,0,0.5);
    --mode-i:#F8FAFC;
    --btn-background:#6C63FF;
    --btn-background2:#7C3AED;
    --btn-hover:#5B4BFF;
    --multi-bg: liner-gradient(135deg, #4F46E5,rgb(206, 25, 149));
}
.light {
    --primary-color: #0F172A;
    --secondry-color: #64748B;
    --mode:#F8FAFC;
    --card:#FFFFFF;
    --accent:#4F46E5;
    --hover: #4338CA;
    --border:#64748B;
    --shadow:rgba(15,23,42,0.08);
    --mode-i:#0B0F19;
}

body {
    color: var(--primary-color);
    background-color:var(--mode) ;
    font-family: "serif",Georgia,Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}
section {
    margin-block:40px ;
    padding-inline: 20px;
    height: 100vh;
}
.hero-section {
    padding-inline: 20px;
}
.text-color {
    color: var(--accent);
}
.card-hover:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.btn-secondry:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--accent);
}
/* ============ nav-section ============ */
.navbar{
    width: 100%;
    height: 50px;
    background-color:var(--card) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
    font-size: 14px;
    font-weight: 500;
    position:fixed;
    top: 0;
}
.navbar .title {
    font-size: 18px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--accent);
    cursor: none;
}
.nav-item {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.nav-item a{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}
.nav-item a:hover {
    color: var(--hover);
    transform: scale(1.2);
    border-bottom: 2px solid var(--hover);
}
#mode {
    width: 40px;
    height: 30px;
    display: inline-block;
    padding:5px 10px;
    border-radius: 5px;
    color: var(--mode-i);
    background-color: var(--accent);
    cursor: pointer;
}
@media (max-width: 600px){
    .nav-item {
        display: none;
    }
}

/* ============ hero-section ============ */
.hero-section {
    margin-top: 100px;
}
.hero-section .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.hero-section .title {
    margin-top: 20px;
}
.hero-section .title .name {
    font-size: 30px;
    padding-left: 20px;
    font-weight: 600;
}
.hero-section .title .heading {
    text-align: center;
}
.hero-section .title .heading span {
    font-size: 16px;
    width: auto;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(79, 70, 229, 0.1);
    border: 2px solid var(--accent);
    color: var(--accent);
    border-radius: 10px;
}
.hero-section .title .role {
    padding-left: 20px;
    font-size: 16px;
    color: var(--secondry-color);
}
.hero-section .title .role span {
    display: inline-block;
    padding-block:3px;
    color: var(--primary-color);
}
.hero-section .profile-img {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .profile-img img {
    height: 300px;
    border-radius:10px ;
    border: 2px solid var(--accent);
    object-fit: cover;
}
.hero-section .title .btn {
    margin-block:10px ;
    padding-left: 20px;
}
.hero-section .title .profileBtn {
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    width: 80%;
    text-align: start;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
    border: 2px solid var(--border);
}
.hero-section .title #view-projectBtn {
  background: linear-gradient(to right, var(--btn-background2), var(--btn-background)); 
  border: none;
}

@media (max-width:600px) {
    .hero-section .title div {
        font-size: 25px;
    }
    .hero-section .main{
        grid-template-columns: 1fr;
        flex-direction:row-reverse ;
        gap: 40px;
    }
    .hero-section .profile-img {
        order: 1;
        height: 250px;
    }
    .hero-section .title {
        order: 2;
    }
}
