* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F9FAFB;
    --secondry-color: #94A3B8;
    --card:#111827;
    --mode:#0B0F19;
    --accent: #6366F1;
    --hover:#4F46E5;
    --hover2:#818CF8;
    --border:#1E293B;
    --shadow:rgba(0,0,0,0.5);
    --mode-i:#F8FAFC;
    --btn-background:#6C63FF;
    --btn-background2:#7C3AED;
    --btn-hover:#5B4BFF;
    --c-bg:#d51357;
}
.light {
    --primary-color: #0F172A;
    --secondry-color: #64748B;
    --mode:#F8FAFC;
    --card:#FFFFFF;
    --accent:#4F46E5;
    --hover: #4338CA;
    --border:#64748B;
    --shadow:rgba(15,23,42,0.08);
    --mode-i:#0B0F19;
}

body {
    color: var(--primary-color);
    background-color:var(--mode) ;
    font-family: "serif",Georgia,Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111827;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--c-bg), var(--btn-background));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, var(--c-bg), var(--btn-background));
}

html {
    scroll-behavior: smooth;
}
section {
    margin-block:100px ;
    padding-inline: 30px;
}
.hero-section {
    padding-inline: 20px;
}
.text-color {
    color: var(--accent);
}
.card-hover:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.btn-secondry:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--accent);
}
.heading-title {
    font-weight: 600;
    font-size: 16px;
}

.heading-title p{
   margin-block: 5px;
   color: var(--c-bg);
}
.heading-title .line {
    width: 50px;
    height: 4px;
    margin-block:2px ;
   background: linear-gradient(to right, var(--c-bg), var(--btn-background)); 
}

.flex-card {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    cursor: pointer;
}
.card {
    box-shadow: 0 0 5px var(--hover);
}
.card:hover {
    transform: scale(1.1);
    box-shadow:none ;
    border: 1px solid var(--c-bg);
}

/* ============ nav-section ============ */
.navbar{
    width: 100%;
    height: 50px;
    background-color:var(--card) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
    font-size: 14px;
    font-weight: 500;
    position:fixed;
    top: 0;
    box-shadow: 0 0 5px var(--accent);
    z-index: 1000;
}
.navbar .title {
    font-size: 18px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--accent);
    cursor: none;
}
.nav-item {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.nav-item a{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}
.nav-item a:hover {
    color: var(--hover);
    transform: scale(1.2);
    border-bottom: 2px solid var(--hover);
}
#mode {
    width: 40px;
    height: 30px;
    display: inline-block;
    padding:5px 10px;
    border-radius: 5px;
    color: var(--mode-i);
    background-color: var(--accent);
    cursor: pointer;
}
@media (max-width: 600px){
    .flex-card {
        display: flex;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .card {
        order: 1;
    }
    .card {
        order: 2;
    }
    section {
        margin-block:80px ;
        padding-inline:20px ;
    }
    .nav-item {
        display: none;
    }
}

/* ============ hero-section ============ */
.hero-section {
    margin-top: 100px;
}
.hero-section .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.hero-section .title {
    margin-top: 20px;
}
.hero-section .title .name {
    font-size: 30px;
    padding-left: 20px;
    font-weight: 600;
}
.hero-section .title .heading {
    background-color: var(--mode);
    text-align: center;
}
.hero-section .title .heading span {
    font-size: 16px;
    width: auto;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(79, 70, 229, 0.1);
    border: 2px solid var(--accent);
    color: var(--accent);
    border-radius: 10px;
    margin-bottom: 15px;
}
.hero-section .title .role {
    padding-left: 20px;
    font-size: 16px;
    color: var(--secondry-color);
}
.hero-section .title .role span {
    display: inline-block;
    padding-block:3px;
    color: var(--primary-color);
}
.hero-section .profile-img {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .profile-img .image-box {
    padding: 3px;
    border-radius:10px ;
    border-left: 2px solid var(--accent);
}
.hero-section .profile-img img {
    height: 300px;
    border-radius:10px ;
    object-fit: cover;
}
.hero-section .title .btn {
    margin-block:10px ;
    padding-left: 20px;
}
.hero-section .title .profileBtn {
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    width: 80%;
    text-align: start;
    line-height: 1.5;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
    border: 2px solid var(--border);
}
.hero-section .title #view-projectBtn {
  background: linear-gradient(to right, var(--c-bg), var(--btn-background)); 
  border: none;
}

#resumeBtn {
    background-color: rgba(79, 70, 229, 0.1);
}

@media (max-width:600px) {
    .hero-section .title div {
        font-size: 25px;
    }
    .hero-section .main{
        grid-template-columns: 1fr;
        flex-direction:row-reverse ;
        gap: 40px;
    }
    .hero-section .profile-img {
        order: 1;
        height: 250px;
    }
    .hero-section .title {
        order: 2;
    }
}

/* ============ about-section ============ */
.about-section .contaner {
    background-color: var(--mode);
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.3;
}

.about-section .contaner h4 {
    margin-top:5px ;
}
.about-section .contaner span {
    display: inline-block;
    margin-block: 5px;
    color: var(--primary-color);
}
.about-section .contaner p{
    color: var(--secondry-color);
}

.about-section .Info {
    background-color: var(--mode);
    margin-block: 5px;
}
.about-section .card {
    height: 80px;
    width: 50%;
    padding: 8px 13px;
    text-align: center;
    background-color: var(--card);
    border-radius: 10px;
}
.about-section .card p {
    font-size: 25px;
    color: var(--c-bg);
}

/* ============ Education-section ============ */
.education-section .contenar {
    height: auto;
}
.education {
    margin-block:10px ;
    display: flex;
}
.education .line-box {
    margin-inline:20px ;
}
.education .line-box .point{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--accent);
    box-shadow: 0 0 20px var(--accent);
}
.education .line-box .line {
    width: 3px;
    height: 100%;
    margin-left: 3px;
    background-color: var(--accent);
}
.presentLine {
    background: linear-gradient(
        to bottom,
        #4ADE80 0%,
        #16A34A 70%,
        #5B4BFF 70%,
        #6C63FF 100%
    );
}
.education .title h3 {
    font-size: 15px;
    color: var(--primary-color);
}
.education .title p {
    font-size: 14px;
    color: var(--secondry-color);
}
.education .title span {
    border-radius: 5px;
    display: inline-block;
    margin-block: 5px;
    padding: 5px;
    font-size: 12px;
    color: #22C55E;
    background: rgba(34, 197, 94, 0.15);
}

/* ============ Skills-section ============ */
.skills-section .contaner {
    margin-block:20px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--card);
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--accent);
}

.skills-section .contaner .box{
    background-color: var(--card);
    margin-block: 15px;
    width: 80%;
    cursor: pointer;
}
.skills-section .contaner fieldset {
    border: 2px solid var(--accent);
    border-radius: 10px;
    color: var(--c-bg);
    background-color: var(--card);
}

.skills-section .contaner fieldset:hover {
    border: 2px solid var(--c-bg);
    color: var(--accent);
}
.skills-section .contaner legend span{
    margin-inline:5px ;
}
.skills-section .contaner fieldset div {
    border-radius: 10px;
    background-color: var(--card);
    padding: 10px;
}
.skills-section .contaner fieldset div span{
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 10px;
    color: var(--secondry-color);
    background: rgba(35, 22, 219, 0.15);
    font-size: 14px;
}
.skills-section .contaner fieldset div span:hover {
    border: 1px solid var(--c-bg);
    color: var(--accent);
}

@media(max-width:600px) {
    .skills-section .contaner {
        margin-block:20px ;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

    }
    .skills-section .contaner .box{
        margin-block: 15px;
        width: 100%;
    }
}

/* ============ Experences-section ============ */
.experence-section .contaner {
    background-color: var(--mode);
    margin-block:20px ;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.experence-section .contaner .card-e {
    background-color: var(--card);
    border-radius: 10px;
    padding:10px;
    box-shadow: 0 0 5px var(--accent);
    width: 100%;
}
.flex-box {
    display: flex;
    justify-content: space-between;
}
.experence-section .contaner .card-e .flex-box  p{
    color:var(--c-bg) ;
}
.experence-section .contaner .card-e .flex-box span {
    font-size: 13px;
}
.experence-section .contaner .card-e .box2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.experence-section .contaner .card-e .info-e{
    padding-inline:20px ;
    padding-block: 10px;
}
.experence-section .contaner .card-e .info-e li{
    font-size: 13px;
    color: var(--secondry-color);
}
@media(max-width:600px) {
    .experence-section .contaner {
        grid-template-columns: 1fr;
        gap: 10px;   
    }
    .experence-section .contaner .card-e{
        margin-block:10px;
        width: 100%;
    }
}


/* ============ Project-section ============ */
.project-section .contaner {
    background-color: var(--mode);
    margin-block:20px ;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.project-section .contaner .card-e {
    background-color: var(--card);
    border-radius: 10px;
    padding:10px;
    box-shadow: 0 0 5px var(--accent);
    width: 100%;
}

.project-section .contaner .card-e .flex-box p{
    color:var(--c-bg);
}
.project-section .contaner .card-e .flex-box span {
    font-size: 13px;
}
.project-section .contaner .card-e .box2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.project-section .contaner .card-e .info-e{
    padding-inline:20px ;
    padding-block: 10px;
}
.project-section .contaner .card-e .info-e li{
    font-size: 13px;
    color: var(--secondry-color);
}
@media(max-width:600px) {
    .project-section .contaner {
        grid-template-columns: 1fr;
        gap: 10px;   
    }
    .project-section .contaner .card-e{
        margin-block:10px;
        width: 100%;
    }
}

/* ============ getintouch-section ============ */
.contect-section .contaner {
    background-color: var(--mode);
    margin-block:20px ;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.contect-section .contaner .box3 div{
    background-color: var(--card);
    border-radius: 10px;
    padding: 10px;
    margin-block:10px ;
    box-shadow: 0 0 3px var(--accent);
}

.contect-section .contaner .box3 div:hover {
    border: 1px solid var(--c-bg);
    box-shadow: none;
}
.contect-section .contaner .box3 div i {
    color: var(--c-bg);
    font-weight: 600;
    font-size: 20px;
}
.contect-section .contaner .box3 div a {
    text-decoration: none;
    font-size: 14px;
    color: var(--secondry-color);
}

.contect-section .contaner .box4 {
    background-color: var(--card);
}
@media(max-width:600px) {
    .contect-section .contaner {
        grid-template-columns: 1fr;
        gap: 10px;   
    }
    .contect-section .contaner .box3{
        margin-block:10px;
        width: 100%;
    }
    .contect-section .contaner .box4{
        margin-block:10px;
        width: 100%;
    }
}

/* ============ footer-section ============ */
footer div {
    height: 130px;
    padding-top: 40px;
    text-align: center;
    font-size: 12px;
    color: var(--secondry-color);
    background-color: var(--card);
}